<div id="img_area_<%= id %>" class="img_area">
	<input type="text" name="img_id" class="img_id input-mini" value="<%= id %>" readonly="1">
	<input type="radio" name="img_active" class="img_active" id="img_active_<%= id %>" value="0">
	<select name="img_shape" class="img_shape input-small">
	    <option value="rect">rectangle</option>
		<option value="circle">circle</option>
		<option value="poly">polygon</option>
		<option value="bezier1">bezier</option>
	</select>
	<input type="text" name="img_coords" class="img_coords" value="">
</div>