<!--[if gte IE 6]>
<script language="javascript" type="text/javascript" src="excanvas.js"></script>
<![endif]-->
    <button class="btn btn-mini btn-primary" type="button" onclick="myimgmap.addNewArea()">add</button>
    <button class="btn btn-mini btn-primary" type="button" onclick="myimgmap.removeArea(myimgmap.currentid)">delete</button>
    <button class="btn btn-mini btn-primary" type="button" id="i_preview" onclick="myimgmap.togglePreview()">preview</button>
    <button class="btn btn-mini btn-primary" type="button" onclick="gui_htmlShow()">html</button>

	<label for="dd_zoom">Zoom:</label>
	<select onchange="gui_zoom(this)" id="dd_zoom">
		<option value='0.25'>25%</option>
		<option value='0.5'>50%</option>
		<option value='1' selected="1">100%</option>
		<option value='2'>200%</option>
		<option value='3'>300%</option>
	</select>
	
	<label for="dd_output">Output:</label>
	<select id="dd_output" onchange="return gui_outputChanged(this)">
		<option value='imagemap'>Standard imagemap</option>
		<option value='css'>CSS imagemap</option>
	</select> 
	<a href="" onclick="toggleBoundingBox(this); return false;">&nbsp; bounding box</a> <select
		onchange="changelabeling(this)">
		<option value=''>No labeling</option>
		<option value='%n' selected='1'>Label with numbers</option>
		<option value='%a'>Label with alt text</option>
		<option value='%h'>Label with href</option>
		<option value='%c'>Label with coords</option>
	</select>
	<div id="form_container"></div>
	<div id="pic_container"></div>
	<div id="status_container"></div>
	<div id="output_help"></div>
	<textarea id="html_container"></textarea>
