
<div id="accordion4" class="accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#event" data-toggle="collapse" class="accordion-toggle" data-original-title=""> <i
				class="icon-bookmark icon-white"></i> <span class="divider-vertical"></span> Earning <i
				class="icon-chevron-down icon-white pull-right"></i>
			</a>
		</div>
		<div class="accordion-body collapse in" id="event">
			<div class="accordion-inner">

				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-promo.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/icons-pic2.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset_menu_16.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-contact.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-delete.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-home.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-info.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-lemp.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-link.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-mac.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-mic.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-miz.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-play.png" alt="">
				</button>
				<button class="btn btn-inverse btn-toolbar btn-large">
					<img src="<%= rootUrl %>/img/icon/iconset-users.png" alt="">
				</button>
			</div>
		</div>
	</div>
</div>

