<div class="tabbable">
	<!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">In Points</a></li>
		<li><a href="#tab2" data-toggle="tab">Out Points</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">

			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-promo.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/icons-pic2.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset_menu_16.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-contact.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-delete.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-home.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-info.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-lemp.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-link.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-mac.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-mic.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-miz.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-play.png" alt="">
			</button>
			<button class="btn btn-inverse btn-toolbar btn-large">
				<img src="<%= rootUrl %>/img/icon/iconset-users.png" alt="">
			</button>

		</div>
		<div class="tab-pane" id="tab2">
			<p>hi, dfgfdgdgd dfg dfg </p>
		</div>
	</div>
</div>
