<div id="menu-left" class="span2">
    <div class="sidebar-nav">
        <ul class="nav nav-list">
            <li><a href="admin/channel" class="current">
                <i class="icon-list-alt"></i>
                <span> Channel</span></a>
            </li>
            <li><a href="admin/zone">
                <i class="icon-list-alt"></i>
                <span> Zone</span></a>
            </li>
            <li><a href="admin/inpoint">
                <i class="icon-th-large icon-white"></i>
                <span> Inpoint</span></a>
            </li>
            <li><a href="admin/outpoint">
                <i class="icon-th pushState"></i>
                <span> Outpoint</span></a>
            </li>
            <li><a href="admin/rule">
                <i class="icon-tasks"></i>
                <span> Rule</span></a>
            </li>
        </ul>
    </div>
</div>
<div id="current" class="span10 section-body">
    <ng-include src="subTemplate"></ng-include>
</div>
