<div id="menu-left" class="span2">
	<div class="sidebar-nav">
		<ul class="nav nav-list">
			<li><a href="<%= rootUrl %>/admin/inpoint" class="pushState">
			     <i class="icon-th-large icon-white"></i>
			     <span>Inpoint</span></a>
			    </li>
			<li><a href="<%= rootUrl %>/admin/outpoint" class="pushState">
			     <i class="icon-th pushState"></i>
			     <span> Outpoint</span></a>
			    </li>
			<li><a href="<%= rootUrl %>/admin/zone" class="current pushState">
			     <i class="icon-list-alt"></i>
			     <span> Zone</span></a>
			    </li>
			<li><a href="<%= rootUrl %>/admin/rule" class="pushState">
			     <i class="icon-tasks"></i>
			     <span> Rule</span></a>
			    </li>
		</ul>
	</div>
</div>
<div id="current" class="span10 section-body">
</div>
