<form class="form-inline" ng-controller="InpointTableController">
	<div class="btn-toolbar">
		<a class="pushState btn btn-primary" href="admin/inpoint/new">New</a>
		
<!-- 		  <div class="btn-group"> -->
<!-- 		      <a class="btn dropdown-toggle"> -->
<!-- 		        Actions -->
<!-- 		        <span class="caret"></span> -->
<!-- 		      </a> -->
<!-- 		      <ul class="dropdown-menu"> -->
<!-- 		          <li><a>Action 1</a></li> -->
<!-- 		          <li><a>Action 2</a></li> -->
<!-- 		      </ul> -->
<!-- 		  </div> -->


<!-- 		<div class="input-prepend input-append"> -->
<!-- 			<span class="add-on"><i class="icon-search"></i></span><input class="span8" id="appendedPrependedInput" type="text"><button class="btn" type="button">Search</button> -->
<!-- 		</div> -->

<!-- 		<select class="btn"> -->
<!-- 			<option>1</option> -->
<!-- 			<option>2</option> -->
<!-- 			<option>3</option> -->
<!-- 			<option>4</option> -->
<!-- 			<option>5</option> -->
<!-- 		</select> -->
	</div>

	<table class="inPointTable table table-bordered table-striped">
		<thead>
			<tr>
				<th width="30px"></th>
				<th>Name</th>
				<th>Type</th>
				<th>Url</th>
				<th width="100px">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="point in inPoints.inPoints">
				<td class="selector"><input type="checkbox" name="id" ng-model="point.id" /></td>
				<td class="name">{{point.name}}</td>
				<td>{{point.type}}</td>
				<td>{{point.url}}</td>
				<td class="actions">
<!-- 				    <a class="btn btn-success btn-mini" href="#"> <i class="icon-zoom-in icon-white"></i></a> -->
				    <a class="pushState btn btn-info btn-mini" ng-href="admin/inpoint/{{point.id}}"> <i
						class="icon-edit icon-white"></i></a>
<!-- 					<button class="delete btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button> -->
				</td>
			</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>

<!-- 	<span>Page 1 of 6</span> -->
<!-- 	<div class="pagination"> -->
<!-- 		<ul> -->
<!-- 			<li><a href="#">«</a></li> -->
<!-- 			<li><a href="#">4</a></li> -->
<!-- 			<li><a href="#">»</a></li> -->
<!-- 		</ul> -->
<!-- 	</div> -->
</form>

