<form class="form-horizontal">
	<div class="row">
		<div class="span6">
			<input type="hidden" name="id">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" class="input-large" id="name" name="name"> <span class="help-inline"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="type">Parent zone</label>
					<div class="parentId controls">
						<div class="btn-group">
							<a class="btn dropdown-toggle btn-success input-large" data-toggle="dropdown" href="#"> Zone <span
								class="caret" style="float: right;"></span>
							</a> <select class="hide" name="parentId"><option value=""></option></select>
							<ul class="dropdown-menu">
								<li><a href="" data-id=""><i class="icon-pencil"></i> <strong>Land</strong></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="zoneimg">Zone image</label>
					<div class="controls">
						<input class="input-file" id="zoneimg" type="file">
					</div>
				</div>
			</fieldset>
		</div>
		<div class="span6">
			<img height="100px" src="">
		</div>
	</div>
    <div class="imageMap hide"></div>

	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="Save changes" /> <a class="pushState btn"
			href="admin/zone">Cancel</a>

		<div class="control-group error">
			<span class="help-inline"></span>
		</div>

		<div class="progress progress-striped active">
			<div class="bar" style="width: 0%"></div>
		</div>
	</div>
</form>
