<form class="form-inline" ng-controller="ZoneTableController">
    <div class="btn-toolbar">
        <a class="pushState btn btn-primary" href="admin/zone/new">New</a>
    </div>

    <table class="zoneTable table table-bordered table-striped">
        <thead>
            <tr>
                <th width="30px"></th>
                <th>Name</th>
                <th>img</th>
                <th width="100px">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="zone in zones.zones">
                <td class="selector"><input type="checkbox" name="id" /></td>
                <td class="name">{{zone.name}}</td>
                <td><img height="20px" src=""></td>
                <td class="actions">
<!--                     <a class="btn btn-success btn-mini" href="#"> <i class="icon-zoom-in icon-white"></i></a> -->
                    <a class="pushState btn btn-info btn-mini" href="admin/zone/{{zone.id}}"> <i
                        class="icon-edit icon-white"></i></a>
<!--                     <button class="delete btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button> -->
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</form>
