html, body {
	height: 100%;
}

label, input, button, select, textarea, body {
	font-size: 12px;
}

.container-fluid {
    min-height: 100%;
}

#container {
	padding-top: 60px;
    min-height: 100%;
}

.brand {
    background: url('../img/housecream32-s.png') 0 4px no-repeat;
    padding-left: 38px !important;
    margin-left: -5px !important;
}


.control-label {
    font-weight: bold;	
}

.mandatory {
	color: red;
	font-weight: bold;
}