<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rst</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/notFoundResource</location>
	</error-page>
	<servlet>
		<servlet-name>ToIndex</servlet-name>
		<servlet-class>net.awired.ajsl.web.ToIndexForwardedServlet</servlet-class>
		<init-param>
			<param-name>indexMapping</param-name>
			<param-value>/index.html</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToIndex</servlet-name>
		<url-pattern>/notFoundResource</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>indexServlet</servlet-name>
		<servlet-class>net.awired.ajsl.web.IndexTemplateServlet</servlet-class>
		<init-param>
			<param-name>tplPath</param-name>
			<param-value>/index.html</param-value>
		</init-param>
		<init-param>
			<param-name>versioningParamName</param-name>
			<param-value>version.property</param-value>
		</init-param>
		<init-param>
			<param-name>version.property</param-name>
			<param-value>HousecreamVersion</param-value>
		</init-param>
		<init-param>
			<param-name>hcWsUrl.property</param-name>
			<param-value>HousecreamWebServiceUrl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>server.html</welcome-file>
	</welcome-file-list>

</web-app>