<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Housecream Server</display-name>
	<description>Server part of Housecream</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:META-INF/cxf/cxf.xml
			classpath*:META-INF/cxf/cxf-extension-jaxrs-binding.xml
			classpath*:META-INF/cxf/cxf-servlet.xml
			classpath*:META-INF/spring/*-context.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>net.awired.housecream.server.application.HousecreamContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<!-- <async-supported>true</async-supported> -->
		
		    <!-- set the base path for the swagger application -->
<!--     <init-param> -->
<!--       <param-name>swagger.api.basepath</param-name> -->
<!--       <param-value>http://localhost:8080/housecream/ws</param-value> -->
<!--     </init-param> -->

    <!-- configure a security filter -->
<!--     <init-param> -->
<!--       <param-name>swagger.security.filter</param-name> -->
<!--       <param-value>com.wordnik.swagger.sample.util.ApiAuthorizationFilterImpl</param-value> -->
<!--     </init-param> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>

<!-- 	<filter> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<url-pattern>/ws/*</url-pattern> -->
<!-- 	</filter-mapping> -->


<!--     <servlet> -->
<!--         <servlet-name>spring</servlet-name> -->
<!--         <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
<!--         <load-on-startup>1</load-on-startup> -->
<!--     </servlet> -->
<!--     <servlet-mapping> -->
<!--         <servlet-name>spring</servlet-name> -->
<!--         <url-pattern>/*</url-pattern> -->
<!--     </servlet-mapping> -->

	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rst</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/notFoundResource</location>
	</error-page>
	<servlet>
		<servlet-name>ToIndex</servlet-name>
		<servlet-class>net.awired.ajsl.web.ToIndexForwardedServlet</servlet-class>
		<init-param>
			<param-name>indexMapping</param-name>
			<param-value>/index.html</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToIndex</servlet-name>
		<url-pattern>/notFoundResource</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>indexServlet</servlet-name> 
		<servlet-class>net.awired.ajsl.web.IndexTemplateServlet</servlet-class>
		<init-param>
			<param-name>tplPath</param-name>
			<param-value>/index.html</param-value>
		</init-param>
		<init-param>
			<param-name>versioningParamName</param-name>
			<param-value>version.property</param-value>
		</init-param>
		<init-param>
			<param-name>version.property</param-name>
			<param-value>HousecreamVersion</param-value>
		</init-param>
		<init-param>
			<param-name>hcWsUrl.property</param-name>
			<param-value>HousecreamWebServiceUrl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>server.html</welcome-file>
	</welcome-file-list>
	
	
	  <!-- add the origin filter for JQuery CORS support -->
<!-- 	<filter> -->
<!-- 		<filter-name>ApiOriginFilter</filter-name> -->
<!-- 		<filter-class>com.wordnik.swagger.sample.util.ApiOriginFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>ApiOriginFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

</web-app>