# node js development
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
/userconfig.json

# SublimeText project files
*.sublime-workspace

# mercurial dev
/.hg/*
*/.hg/*
.hgignore

# svn dev
.svn/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# project files
/build/*
/tmp/*
/docs/*
